#box{
  margin-top: 10px;
  margin-left: 10px;
  margin: 10px 10px 0px 10px;
  border: purple 3px dotted;
}

.boxP{
  padding-top: 130px;
  text-align: center;
}

#smallGreen{
  color: green;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.bigOrange{
  color: orange;
  font-size: 15px;
  font-size: 24px;
}

.smallPurple{
  color: purple;
  font-size: 6px;
  padding-left: 93%;
}

/* I can not figure out why it won't raise the red text higher than the orange text */
#redText{
  color: red;
  font-size: 20px;
  margin-top: 10px;
  vertical-align: top;
}

#yellowText{
  color: yellow;
  vertical-align: bottom;
}
