body{
  background-color: blue;
}

.frame{
  margin-top: 150px;
  margin-left: 150px;
  border: black 5px solid;
}
/*I could not figure out what colour the text was in the example
   due to it being too difficult to see.*/

div p{
  color: red;
  font-family: arial;
  padding: 10px 5px 10px 5px;
  border: green 2px dashed;
  margin: 20px 20px 20px 20px;
  border-right
}

div img{
  color: red;
  font-family: arial;
  padding: 20px 20px 20px 20px;
  border: yellow 2px dashed
}
